<td contenteditable='true' id='desc1_{{cdu_catalogo}}' ">{{descripcion1}}</td>
<td contenteditable='true' id='desc2_{{cdu_catalogo}}'>{{descripcion2}}</td>
<td contenteditable='true' id='monto1_{{cdu_catalogo}}'>{{monto1}}</td>
<td contenteditable='true' id='monto2_{{cdu_catalogo}}'>{{monto2}}</td>
<td><a class = " {{clase}} " href="#"><i class="fa {{ico}} fa-2x"></i></a></td>