<td contenteditable='true'>{{descripcion1}}</td>
<td contenteditable='true'>{{descripcion2}}</td>
<td contenteditable='true'>{{monto1}}</td>
<td contenteditable='true'>{{monto2}}</td>
<td><a class = " {{clase}} " href="#"><i class="fa {{ico}} fa-2x"></i></a></td>