<div class="caja_bloque">
<div class="campos_bloque">
	<ul class="ul_bloque">
	{{{grp_combo "Motivo" label_desc='motivo' select_name='motivo' select_id='movimiento_sucursal_motivo' titulo="reducido"}}}
	{{{grp_combo "Turno"  label_desc='turno' select_name='turno' select_id='movimiento_sucursal_turno' titulo="reducido"}}}
	{{{grp_combo "Puesto" label_desc='puesto' select_name='puesto' select_id='movimiento_sucursal_puesto' titulo="reducido"}}}
	{{{grp_combo "Rango" label_desc='rango' select_name='rango' select_id='movimiento_sucursal_rango' titulo="reducido"}}}	
	{{{grp_perdet "Sueldo" valor=sueldo  input_id='movimiento_sucursal_sueldo'   label_desc='sueldo' input_desc='sueldo' titulo="reducido" }}}	
	{{{grp_perdet "Fecha" valor=fecha_inicial input_id='movimiento_sucursal_fecha' label_desc='fecha_movimiento' input_desc='Fecha de Movimiento' titulo="reducido"}}}
	{{{grp_perdetTextArea "" textarea_id='movimiento_sucursal_dscmotivo' valor=motivo   label_desc='' textarea_desc='Observaciones' titulo="reducido"}}}
	</ul>
</div>
</div>