<div class="profiler">
{{{caja_imagen imagen img_id='perso_foto_basica' clase2='profiler_foto' simple=true }}}
<div class="profiler_datos">
	<h1 hidden id="personal_basico_id">{{id}}</h1>
	<h2>{{matricula}}</h2>
	<h3>{{nombre}} {{paterno}} {{materno}}</h3>
	<h5>{{rfc}}</h5>
	<h5>{{curp}}</h5>
	<h5>Fec.Alta: {{fec_alta}}</h5>
</div>
</div>

