<article class="bloque">
	<div class="titulo_bloque">
		Básicos
	</div>
	<div class="caja_bloque">
	<div class="campos_bloque" >
		<ul class="ul_bloque"> 
		{{{titulos_caja id label_desc="id_principal" label_id='persona_id'}}}
		{{{grp_perdet "Matricula" valor=matricula input_id='persona_matricula' label_desc='matricula_empleado' input_desc='Matricula Empleado'}}}
		{{{grp_perdet "Paterno" valor=paterno  input_id='persona_paterno' label_desc='paterno' input_desc='Paterno'}}}
		{{{grp_perdet "Materno" valor=materno  input_id='persona_materno' label_desc='materno' input_desc='Materno'}}}
		{{{grp_perdet "Nombre(s)" valor=nombre  input_id='persona_nombre' label_desc='nombres' input_desc='Nombre(s)'}}}
		{{{grp_perdet "RFC" valor=rfc  input_id='persona_rfc' label_desc='rfc' input_desc='RFC'}}}
		{{{grp_perdet "CURP" valor=curp  input_id='persona_curp' label_desc='curp' input_desc='CURP'}}}
		{{{grp_perdet "CUIP" valor=cuip  input_id='persona_cuip'   label_desc='cuip' input_desc='CUIP'}}}
		{{{grp_perdet "Fecha de Nac." valor=fec_nacimiento input_id="persona_fec_nac" label_desc='fecha_nacimiento' input_desc='Fecha de Nacimiento'}}}
		{{{grp_combo "Lugar de Nac."    label_desc='etiquetas_bloque' select_name='select_bloque' select_id='perso_edonac'}}} 
		{{{grp_combo "Municipio"   label_desc='lugar_nacimiento_municipio' select_name='municipio' select_id='perso_mpionac'}}}
		{{{grp_combo "Estado Civil"   label_desc='estado_civil' select_name='estado_civil' select_id='perso_estado_civil'}}}
		{{{grp_combo "Escolaridad"   label_desc='escolaridad' select_name='escolaridad' select_id='perso_escolaridad'}}}
		{{{grp_combo "Religión"   label_desc='religion' select_name='religion' select_id='perso_religion'}}}
		{{{grp_options "Portación"  radio_id='persona_portacion' label_desc='portacion' op1_titulo="Si" op2_titulo="No" op1_val=true op2_val=false  op1_checado=portacion radio_name='persona_portacion' input_booleano=portacion}}}   
		{{{grp_combo "Seguridad Social"   label_desc='seguridad_social' select_name='seguridad_social' select_id='perso_segsoc'}}}
		{{{grp_perdet "Id. Seguridad Social" valor=id_seguridad_social  input_id='persona_segsocial' label_desc='id_seguridad_social' input_desc='Id. Seguridad Social'}}}
		</ul>
	</div>
	</div>
</article>
<article class="bloque">
<div class="titulo_bloque">
	Administración
</div>
<div class="caja_bloque">
	<div class="campos_bloque" id="personal_administracion">
	<ul class="ul_bloque"> 
	{{{grp_combo "Tipo de Alta"   label_desc='tipo_de_alta' select_name='tipo_de_alta' select_id='perso_tipo_de_alta'}}}
	{{{grp_perdet "Fecha de Alta" valor=fec_alta input_id="persona_fec_alta" label_desc='fecha_de_alta' input_desc='Fecha de Alta'}}}  
	{{{grp_options "Alta Condicionada"  radio_id='persona_condicionada' label_desc='alta_condicionada' op1_titulo="Si" op2_titulo="No" op1_val=true op2_val=false  op1_checado=condicionada radio_name='persona_condicionada' input_booleano=condicionada}}}   
	{{{grp_perdetTextArea "" textarea_id='persona_condicion_alta' valor=condiciones_alta   label_desc='' textarea_desc='Condición(es)'}}}
	{{{grp_combo "Administrativo"   label_desc='tipo_de_empleado' select_name='tipo_de_empleado' select_id='perso_tipo_de_empleado'}}}	
	</ul>
	</div>
</div>
<br>
<div class="titulo_bloque">
	Domicilio
</div>
<div class="caja_bloque">
<div class="campos_bloque">
	<ul class="ul_bloque">			
	{{{grp_perdetTextArea "Calle" valor=calle_dom textarea_id='perso_domicilio'  label_desc='' textarea_desc='Calle'}}}
	{{{grp_perdet "Número" valor=numero_dom  input_id='persona_numero_dom' label_desc='numero' input_desc='Número'}}}
	{{{grp_perdet "Colonia" valor=colonia_dom  input_id='persona_colonia_dom' label_desc='colonia' input_desc='Colonia'}}}
	{{{grp_perdet "Código Postal" valor=cp_dom  input_id='persona_cp_dom' label_desc='codigo_postal' input_desc='Código Postal'}}}
	{{{grp_combo "Estado"    label_desc='calle_estado' select_name='estado_dom' select_id='perso_estado_dom'}}} 
	{{{grp_combo "Municipio"   label_desc='calle_municipio' select_name='municipio_dom' select_id='perso_municipio_dom'}}}
	{{{grp_perdet "Ciudad/Población" valor=ciudad_dom  input_id='persona_ciudad_dom' label_desc='calle_ciudad' input_desc='Ciudad/Población'}}}
	</ul>
</div>
</div>
</article>
<article class="bloque">
	<div class="titulo_bloque">
		Foto
	</div>		
	{{{caja_imagen imagen img_id='perso_foto'}}}
	<form enctype="multipart/form-data">
	    <label>File<input name='file' type='file'  id="imagencontrol" /></label>
	    <input type="submit" value="Subir Imagen">
	</form>

</article>
