<div id="titulo_bloque_sucursal" class="titulo_bloque">
			Sucursal
</div>
<div class="caja_bloque">
<div class="campos_bloque">
	<ul class="ul_bloque">
	{{{titulos_caja id label_desc="id_principal" label_id='sucursal_id'}}}	
	{{{grp_perdet "Id Sucursal" valor=cve_sucursal input_id='sucursal_cve_sucursal' label_desc='id_sucursal' input_desc='Id Sucursal'}}}
	{{{grp_perdetTextArea "Sucursal" textarea_id='sucursal_nombre' valor=nombre   label_desc='sucursal' textarea_desc='Sucursal'}}}
	{{{grp_perdetTextArea "Calle" textarea_id='sucursal_calle' valor=calle   label_desc='calle' textarea_desc='Calle'}}}
	{{{grp_perdet "Número" valor=numero  input_id='sucursal_numero'   label_desc='numero' input_desc='Número'}}}
	{{{grp_perdet "Colonia" valor=colonia   input_id='sucursal_colonia'  label_desc='colonia' input_desc='Colonia'}}}
	{{{grp_perdet "Código Postal" valor=cp  input_id='sucursal_cp'   label_desc='codigo_postal' input_desc='Código Postal'}}}
	{{{grp_combo "Estado"    label_desc='calle_estado' select_name='calle_estado' select_id='sucursal_estado'}}} 
	{{{grp_combo "Municipio"    label_desc='calle_municipio' select_name='calle_municipio' select_id='sucursal_municipio'}}}		
	{{{grp_perdet "Ciudad/Población" valor=ciudad input_id='sucursal_ciudad' label_desc='calle_ciudad' input_desc='Ciudad/Población'}}}
	{{{grp_perdet "Teléfono" valor=telefono input_id='sucursal_telefono' label_desc='telefono1' input_desc='Teléfono 1'}}}
	{{{grp_combo "Estatus"    label_desc='estatus' select_name='estatus' select_id='sucursal_estatus'}}}		
	{{{grp_perdet "Fecha de Alta" valor=fecha_alta input_id='sucursal_fecha_alta' label_desc='fecha_de_alta' input_desc='Fecha de Alta'}}}
	{{{grp_perdet "Fecha de Baja" valor=fecha_baja input_id='sucursal_fecha_baja' label_desc='fecha_de_baja' input_desc='Fecha de Baja'}}}
	{{{grp_perdet "Latitud" valor=latitud input_id='sucursal_latitud' label_desc='latitud' input_desc='Latitud'}}}
	{{{grp_perdet "Longitud" valor=longitud input_id='sucursal_longitud' label_desc='longitud' input_desc='Longitud'}}}
	</ul>
</div>
</div>