<div class="titulo_bloque">
	Año/Periodo
</div>
<div class="caja_bloque">
<div class="campos_bloque">
	<ul class="ul_bloque">
		{{{grp_combo "Año"  label_desc='anio_uniforme' select_name='anio_uniforme' select_id='uniforme_anio'}}}
		{{{grp_combo "Periodo"  label_desc='periodo_uniforme' select_name='periodo_uniforme' select_id='uniforme_periodo'}}}		
		{{{grp_perdet "Fec.de Entrega" valor=fecha_entrega input_id='uniforme_fecha_entrega' label_desc='fecha_entrega' input_desc='Fecha de Entrega'}}}
		{{{grp_perdet "Fec.Servicio" valor=fecha_servicio input_id='uniforme_fecha_servicio' label_desc='fecha_servicio' input_desc='Fecha Servicio'}}}
		<h4 id="uniforme_servicio"></h4>
		{{{grp_perdetTextArea "Observaciones" textarea_id='uniformes_observaciones' valor=observaciones   label_desc='' textarea_desc='Observaciones' titulo="reducido"}}}
	</ul>
</div>
</div>
<br>
<div class="titulo_bloque">
	Uniforme
</div>
<div class="caja_bloque">
	<div class="campos_bloque">
		<ul class="ul_bloque">
			<li class="li_bloque" id="uniforme_lista1">

			</li>
			<li class="li_bloque" id="uniforme_lista2">

			</li>						
		</ul>
	</div>
   <div id="imprimir_uniformes" >Imprimir</div>

</div>